<launch>
  <master auto="start"/>
  <arg name="map" value="icra2022"/>

  <!--Load parameters for localization node  -->
  <rosparam command="load" file="$(find roborts_localization)/config/localization.yaml" />
  <rosparam command="load" file="$(find roborts_localization)/amcl/config/amcl.yaml" />

  <!-- Run the robot sdk interface -->
  <include file="$(find roborts_bringup)/launch/base.launch" />

  <!-- Run the velocity converter node -->
  <node pkg="roborts_camera" type="roborts_camera_node" name="roborts_camera_node" respawn="false" />

    <!-- Run the velocity converter node -->
  <node pkg="roborts_detection" type="armor_detection_node" name="armor_detection_node" respawn="false" output="screen"/>

    <!-- Run the velocity converter node -->
  <node pkg="roborts_detection" type="armor_detection_client" name="armor_detection_client" respawn="false" output="screen"/>


</launch>

